.navbar{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar img{
  width: 150px;

}

.navbar button{
  background-color: #e50914;
  border: none;
  width: 80px;
  padding: 8px;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.navbar button:hover{
  background-color: #c11119;
}

/*Hero section*/
.hero{
height: 550px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow:hidden;
background-image: url("/public/images/hero-bg.jpg");
background-position: center;
position: relative;

}

.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: 0;
}

.hero::after{
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -55px;
  width: 120%;
  height: 90px;
  border-radius: 50% 50% 0 0;
  border-top: 4px solid #e50914;
  background-color: #000;
   z-index: 2;
   pointer-events: none;
}

.hero-content{
  width: 95%;
  max-width: 700px;
  position: relative;
  z-index: 1;

}


.hero h1{
  font-size: 48px;
  margin-bottom: 20px;
    text-align: center;
}


.price {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;

}

.membership-text{
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}
.email-box{
   display:  flex;
   justify-content: center;
   width: 100%;
   gap: 20px;
}

.email-box input{
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;

}

.email-box button{
  width: 40%;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;

}

/*Movie trending*/

.trending{
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

.trending h2{
  font-size: 24px;
  margin-bottom: 20px;

}


.movie-list{
  display: flex;
  gap: 20px;
}

.movie-card {
  width: 180px;
  height: 250px;
  position: relative;
}

.movie-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;

}

.movie-number{
position: absolute;
left: 20%;
top: 80%;
font-size: 80px;
font-weight: bold;
color: black;
-webkit-text-stroke: 2px white;

}

.trending button{
  background-color: transparent;
 

  color: white;
  font-size: 55px
}


/*Reason*/

.reasons{
   width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}
.reasons h2{
  padding-bottom: 20px;
}

.reasons-list{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.reason-card{
  flex: 1;
  width: 100%;
  padding: 25px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    #192247,
    #210e17)
}

.reason-card h3{
  font-size: 22px;
  margin-bottom: 15px;
}

.reason-card p{
  color: #b3b3b3;
  line-height: 1.5;
}

/*FAQ*/

.faq{
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

.faq h2{
  font-size: 24px;
  margin-bottom: 20px;
}

.faq-item{
  margin-bottom: 8px;
}

.faq-question{
  background-color: #2d2d2d;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: cemter;
  font-size: 20px;
  cursor: pointer;
}

.faq-question :hover{
background-color: #2d2d2d;
}

.faq-answer{
  background-color: #575656;
  padding: 22px;
  margin-top: 1;
  font-size: 18px;
  line-height: 1.5;
}

/*Membership Email*/

.membership{
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  padding-top: 5%;
}

.membership p{
  text-align: center;
}

.email-Enter{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.email-Enter input{
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  width: 60%;
  border: 1px solid white;
  background-color: #0f0f0f;
  border-radius: 10px;
}

.email-Enter button{
  padding: 20px;
  font-size: 16px;
   font-weight: bold;
  width: 20%;
  border-radius: 35px;

}

/*footer section*/
.footer {
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

.footer-all {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
   color: #b3b3b3;
}



.footer ul {
  padding: 0;
  margin: 0;
}

.footer li {
  list-style: none;
 
  margin-bottom: 15px;
}

.footer img{
  display: block;
  margin-left: auto;
  width: 130px;

}





/*Responsiveness*/
/*phones*/
@media (max-width: 768px) {
/*nabvbar section*/
.navbar img{
  width: 100px;
}

  /*hero section*/
.hero{
  height: 500px;
  padding: 20px;
}

.hero h1{
  font-size: 32px;
}

.price{
  font-size: 16px;
}

.membership-text{
  font-size: 14px;
}

.email-box {
  flex-direction: column;
  align-items: center;
}

.email-box input{
  width: 100%;
}

.email-box button{
  width: 100%;
  padding: 10px;
  font-size: large;
}


/*trending movies*/

.movie-list{
  overflow-x: auto;
}

.movie-card{
  min-width: 150px;
  height: 220px;
}

.movie-number{
  font-size: 50px;
  left: 2%;
  top: 70%;
}


/*reason list*/

.reasons-list{
  flex-direction: column;
}

/*question*/

.faq-question{
  font-size: 18px;
  padding: 18px;
}

.faq-answer{
  font-size: 16px;
  padding: 18px;
}

/*membership Email*/
.email-Enter{
   flex-direction: column;
}

.email-Enter input{
  width: 100%;
}

.email-Enter button{
  width: 40%;
  padding: 10px;
  font-size: 15px;
}

/*Footer*/

.footer-all{
  flex-direction: column;
  text-align: center;
}

.footer img{
  display: block;
  margin: 0 auto;
  width: 80px;
  padding-top: 10px;
  
}

}

/*tablets*/
@media (max-width: 1024px){

  .reason-card{
    flex: 1;
    min-width: 220px;
  }

}




